<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input labelPlacement="floating" label="Insira seu whatsapp" [(ngModel)]="number">
        <div slot="label">Número <ion-text color="danger">(Required)</ion-text></div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" label="Qual a mensagem?" [(ngModel)]="message">
        <div slot="label">Mensagem <ion-text color="danger">(Required)</ion-text></div>
      </ion-input>
    </ion-item>
    <ion-button color="{{btnColor}}" expand="full" (click)="sendWhatsapp()">Enviar Whatsapp</ion-button>
  </ion-list>
</ion-content>